nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    text-align: center;
}

nav li {
    border-right: 1px solid #bbb;
    background: #333;
}

nav ul li { 
    float: left;
    list-style: none;
}

nav ul ul { 
    display : none; 
    width: 250px;
}

nav li:last-child {
    border-right: none;
}
nav li a {
    text-decoration: none;
    color: #04AA6D;
    padding: 6px 0 6px; 
    display: block; 
    width: 450px;
}

nav ul.menu li.sousmenu:hover ul.sousmenu1{
    display: block;
    position: absolute;
}

nav li:hover {
    background: black;
}
