body {
    background-color: var(--color-bg);
    color: var(--color-fg);
}

h1{
    text-align: center;
    font-size: 50px;
}

footer {
    text-align: center;
}

.center {
    margin: 0 auto;
    width: 650px;
    display: block;
}

.container1{
    box-shadow: 0px 10px 50px black;
    display: block;
    justify-content: center;
    background-color:rgba(133, 138, 143, 0.801);
    border-radius: 2%;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.container1::after{
  display:block;
  clear:both;
  content:"";
}

.container2{
    box-shadow: 0px 10px 50px black;
    display: block;
    justify-content: center;
    background-color:rgba(133, 138, 143, 0.801);
    border-radius: 3%;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.container2::after{
  display:block;
  clear:both;
  content:"";
}
.containerIndex{
    box-shadow: 0px 10px 50px black;
    display: block;
    justify-content: center;
    background-color:rgba(26, 26, 26, 0.479);
    border-radius: 3%;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.containerIndex::after{
  display:block;
  clear:both;
  content:"";
}

#RR table, td {
    text-align: center;
    border: 1px solid black; 
}

#RR thead, tfoot {
    background-color: rgb(108, 108, 108);
    color: white;
}

#RR tbody {
    background-color: gray;
    color: white;
}

#Festival{
    background-image: url("../FF/Festival.png");
    background-size: cover;
}

#Lego{
    background-image: url("../LF/LegoWorld.png");
    background-size: cover;
}

#Rocket{
    background-image: url("../RR/Rocket.png");
    background-size: cover;
}
#ImPre {
    max-width: 50em;
    max-height: 50em ; 
}

#CaptLobFF {
    max-width: 100%;
    max-height: 100% ; 
}

#oui {
    margin-left: auto;
    margin-right: auto;
}

#LobbyFFImage {
    max-width: 65em;
    max-height: 115em; 
    margin-left: 31%;
}

#LaPhoto{
    max-width: 30em;
    max-height: 60em;
}

#Discord {
    max-width: 5%; 
    max-height: 5%;
}

#Insta {
    max-width: 5%; 
    max-height: 5%;
}

#Gmail {
    max-width: 5%; 
    max-height: 5%;
}

#AProposDeNous {
    text-align: center;
}

#tblftn {
    margin-left: auto;
    margin-right: auto;
    border: 0px solid black;
}

#tblgta {
    margin-left: auto;
    margin-right: auto;
    border: 0px solid black;
}

#gta {
    max-width: 50em;
    max-height: 50em; 
}

#GTAimages {
    max-width: 250px;
    max-height: 250px; 
}

#videos {
    max-width: 100%;
    max-height: 100%;
}

#centertexte {
    text-align: center;
    font-size: 105%;
}

#ancre {
    margin: auto;
    width: 5%;
    height: 5%;
}