body{
    background-color: white;
}

p {
    color : black;
}

h1{
    color: black;
    text-align: center;
    font-size: 50px;
}

h2{
    color : black;
}

h3{
    color : black;
}

ul{
    color : black;
}

footer {
    text-align: center;
}

.center {
    margin: 0 auto;
    width: 650px;
    display: block;
}

#RR table, td {
    text-align: center;
    border: 1px solid black; 
}

#RR thead, tfoot {
    background-color: rgb(108, 108, 108);
    color: white;
}

#RR tbody {
    background-color: gray;
    color: white;
}

#Festival{
    background-image: url("../FF/Festival.png");
    background-size: cover;
}

#Lego{
    background-image: url("../LF/LegoWorld.png");
    background-size: 100%;
}

#Rocket{
    background-image: url("../RR/Rocket.png");
    background-size: cover;
}
#ImPre {
    max-width: 50em;
    max-height: 50em ; 
}

#CaptLobFF {
    max-width: 60em;
    max-height: 60em ; 
}

#oui {
    margin-left: auto;
    margin-right: auto;
}

#LobbyFFImage {
    max-width: 65em;
    max-height: 115em; 
    margin-left: 31%;
}

#LaPhoto{
    max-width: 30em;
    max-height: 60em;
    margin-left: 38%;
    text-align: center;
}

#Discord {
    max-width: 5%; 
    max-height: 5%;
}

#Insta {
    max-width: 5%; 
    max-height: 5%;
}

#Gmail {
    max-width: 5%; 
    max-height: 5%;
}

#AProposDeNous {
    text-align: center;
}

#tblftn {
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    background-color: white;
}

#tblgta {
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    background-color: white;
}

#gta {
    max-width: 50em;
    max-height: 50em ; 
}