#Festival{
    background-image: url(FF/Festival.png);
    background-size: cover;
}

#Lego{
    background-image: url(LF/LegoWorld.png);
    background-size: 100%;
}

#Rocket{
    background-image: url(RR/Rocket.png);
    background-size: cover;
}

body{
    background-color: darkgray;
}

p {
    color : white;
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

h2{
    color : white;
}

h3{
    color : white;
}

ul{
    color : white;
}

table,
td {
    border: 2px solid black; 
}
thead,
tfoot {
    background-color: #333;
    color: white;
}
tbody {
    background-color: rgba(112, 112, 112, 0.897);
    color: white;
}

#ImPre {
    max-width: 50em;
    max-height: 50em ; 
    margin-left: 31%;
    margin-right: 30%;
}

#LobbyFFImage {
    max-width: 65em;
    max-height: 115em; 
    margin-left: 31%;
    margin-right: 30%;
}

#Discord {
    width: 20%; 
    height: 20%;
}

#Insta {
    width: 20%; 
    height: 20%;
}
#Gmail {
    width: 20%; 
    height: 20%;
}